*{
    margin-bottom: 0px;
    margin-right: 0px;
}
body {
    font-family: 'Open Sans', sans-serif;
}

/*nav related styles */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 120px;
}

.primary-color {
    color: #FD6E0A;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;

}

nav>ul>li {
    list-style: none;
    margin-right: 50px;
}

nav>ul>li>a {
    text-decoration: none;
    color: #474747;
}

.btn {
    text-align: center;
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: white;
    padding: 18px 35px;
}

.header {
    background-color: #FFF8F3;

}

.banner {
    padding: 30px 30px 0px 150px;
    background-image: url("../header_bg.png");
    display: flex;
    align-items: center;
}

.pp-size {
    width: 584px;
    height: 676px;
    flex-shrink: 0;
    margin-bottom: 0px;
}

.btn-1 {
    width: 200px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: white;
    padding: 19px 17px 18px 51px;
}

.btn-2 {
    width: 160px;
    height: 64px;
    text-align: center;
    border-radius: 5px;
    background: #FFF8F3;
    border: 1px solid #FD6E0A;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #FD6E0A;
    padding: 19px 23px 18px 58px;
}

.back {
    background-image: url("../header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner-greet {
    color: #474747;
    font-size: 45px;
    margin-bottom: -60px;
}
.banner-person{
    color: ##181818;
    font-size: 85px;
}
.banner-paragraph{
    color: #757575;
    font-size: 18px;
    margin-bottom: 10px;
}